

/* COLORES */

$color-body: #67efe9;
$color-nav: #1b676b;
$color-nav-hover: #2eb1b8;
$color-menu-botones: cyan;
$color-parrafo: #affaab;
$color-formulario: #affaab;
$color-fondo-footer: #1b676b;
$color-negro: black;
$color-blanco:white;